body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
    
}

nav {
    background-color: #691111;
    padding: 16px;
    
}

section {
    background-image: url("cafe.jpg");
    background-repeat: no-repeat;
    height: 620px;
    background-size: cover;
    background-position: center;
    padding-top: 130px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
}

.form {
    margin: 0px;
    padding: 20px;
    margin-right: 120px;
    max-width: fit-content;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #691111;
    color: #F5EEEE;
}



section h2 {
    margin-top: 0;
    margin-bottom: 6px;
    text-align: center;
    
    
}


.links {
    text-align: right;
    width: fit-content;
}

.links a {
    background-color: #084829;
    border-radius: 82px;
    border: 1px solid #084829;
    padding: 10px;
    font-size: 22px;
    text-decoration: none;
    margin-right: 10px;
    color: #F5EEEE;
    ;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.logo-link img {
    width: 110px;
    
}

footer {
    background-color: #691111; 
    
}

footer p {
    margin-top: 0px;
    margin-bottom: 0;
    color: #F5EEEE;
    font-family: 'Poppins', sans-serif;
}


#email,
#nome {
    margin-bottom: 16px;
    border-radius: 4px;
    border: none;
    height: 25px;
    width: 200px;
    

}

#btn-form {
    background-color: #084829;
    border-radius: 4px;
    padding: 10px;
    font-size: 15px;
    color: #F5EEEE;
    border: none;
    
}

.btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

form label{
    margin-bottom: 8px;
}