body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

#qrcode {
  margin-top: 20px;
  width: 200px;
  height: 200px;
}
