
/* SESSÃO DE ARTIGOS, POR ID */
#Artigo1 {
    color:red;
    font-size: 100px;
    padding-left: 10px;
    padding-right: 250px;
}

#Artigo2 {
    color:red;
    font-size: 100px;
    padding-left: 10px;
    padding-right: 250px;
}

#Artigo3 {
    color:red;
    font-size: 100px;
    padding-left: 10px;
    padding-right: 250px;
}

#Artigo4 {
    color:red;
    font-size: 100px;
    padding-left: 10px;
    padding-right: 250px;
}

#Artigo5 {
    color:red;
    font-size: 100px;
    padding-left: 10px;
    padding-right: 250px;
}

#Artigo6 {
    color:red;
    font-size: 100px;
    padding-left: 10px;
    padding-right: 250px;
}