body {
  font-family: 'Poppins', sans-serif;
}


/*
.pagina{
  background-image: url(./imagens/background-captura.png);
  background-size: cover;
  background-repeat: no-repeat; 
}

.symbol{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100px; 
  margin: 0;
 }

 */

