/* HEADER  (TOPO DA PÁGINA) */
h2 {
  font-family: Amatic sc;
  font-size: 55px;
  margin-left: 40px;
}

.logo {
  background-color:#511111;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 120px;
  padding-top: 30px;
  padding-left: 22px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.navbar a {
  color:#FFFFFF;
  text-decoration: none;
  margin-right: 25px;
  font-size: 25px;
  padding-top: 80px;
  transition: background-color 0.3s;
  font-family: poppins;
}

.navbar a:hover {
  color: #F8C92C;
  transform: scale(1.1);
}

/* BODY */
body {
  background-color: #d9d9d9;
  margin: 0;
}



/* SESSÃO DE ARTIGOS - PESQUISA */

h1 {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  margin-top: 10px; /* Espaço superior para a caixa de pesquisa */
  padding: 10px; /* Adiciona preenchimento interno para melhorar a aparência */
  border-radius: 20px; /* Tornar bordas mais arredondadas */
  width: 600px; /* Defina uma largura fixa para a caixa de pesquisa */
  box-sizing: border-box; /* Inclua a borda e o preenchimento na largura total */
  margin-right: auto;
  margin-left: auto;
  display: block;

}

.artigos-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
}

.artigo {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #d9d9d9;
  border: solid 1px #ccc;
  border-radius: 4px;
  width: 410px;
  height: 400px;
  padding: 10px;
  margin: 50px;
  min-height: 400px; 
}

.artigo img {
  width: 100%;
  height: 200px;
}

.artigo h3 {
  font-size: 30px;
  font-family: Amatic sc;
  text-align: center;
  margin-top: 20px;
}

.artigo p {
  font-weight: bold;
  font-family: poppins;
  margin-bottom: 60px;
  font-size: 15px;
  text-align: center;
}


h1 {
  margin-top: 40px;
  text-align: center;
}

#searchButton {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 10px 20px;
  background-color: #511111; /* Cor de fundo verde */
  color: white; /* Cor do texto branco */
  border: none; /* Remover a borda */
  border-radius: 25px; /* Adicionar bordas mais arredondadas */
  cursor: pointer; /* Mudar o cursor ao passar o mouse */
  transition: background-color 0.3s; /* Adicionar transição suave à mudança de cor de fundo */
}

#searchButton:hover {
  background-color: grey; 
}

#searchBox  {
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  margin-top: 10px; /* Espaço superior para a caixa de pesquisa */
  padding: 10px; /* Adicione algum preenchimento interno para melhorar a aparência */
  border: 1px solid #ccc; /* Adicione uma borda leve */
  border-radius: 20px; /* Torne as bordas mais arredondadas */
  width: 600px; /* Defina uma largura fixa para a caixa de pesquisa */
  box-sizing: border-box; /* Inclua a borda e o preenchimento na largura total */
  outline: none; /* Remova a borda de foco padrão no clique */
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#searchBox:focus {
  border-color: #511111; /* Mude a cor da borda ao focar na caixa de pesquisa */
}



/*  CARROSSEL  */
    .carousel-container {
      width: 98%; 
      margin: auto;
      
    }

    /* Estilize cada item de imagem */
    .image-item {
      width: 100%; 
      height: 700px; 
      object-fit: cover; 
      border-radius: 8px; 
      max-width: 100%; 
    }

   
/* FOOTER */

footer {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  background-color: #511111; 
  color: white; 
  max-width: 100%;
  height: 180px;
  
}

footer p {
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
}




.socialmedias {
  margin-top: 30px;
  display: flex;
  justify-content: center; 
  align-items: center;
   
}

.socialmedias img {
  width: 30px;
  height: 30px;
  margin: 0 5px; 
}